.app {
    background-color: #828282;
    opacity: 1;
    background-image:  linear-gradient(30deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(150deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(30deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(150deg, #757575 12%, transparent 12.5%, transparent 87%, #757575 87.5%, #757575), linear-gradient(60deg, #75757577 25%, transparent 25.5%, transparent 75%, #75757577 75%, #75757577), linear-gradient(60deg, #75757577 25%, transparent 25.5%, transparent 75%, #75757577 75%, #75757577);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
